<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pracify"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <service
            android:name="com.pracify.datasync.SyncService"
            android:exported="true"
            android:process=":sync" >
            <intent-filter>
com.pracify.contentprovider
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <service android:name="com.pracify.authenticator.AuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name="com.pracify.contentprovider.MyContentProvider"
            android:authorities="com.pracify.contentprovider"
            android:exported="false"
            android:syncable="true" />

        <activity
            android:name="com.pracify.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.pracify.HomeActivity"
            android:label="@string/title_activity_home" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.pracify.RecordingActivity"
            android:label="@string/title_activity_recording"
            android:parentActivityName="com.pracify.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pracify.HomeActivity" />
        </activity>
        <activity
            android:name="com.pracify.RecordingActivity_New"
            android:label="@string/title_activity_recording"
            android:parentActivityName="com.pracify.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pracify.HomeActivity" />
        </activity>
        <activity
            android:name="com.pracify.Visualize"
            android:label="@string/title_activity_save_recording"
            android:parentActivityName="com.pracify.HomeActivity" >
        </activity>
        <activity
            android:name="com.pracify.SaveRecordingActivity"
            android:label="@string/title_activity_save_recording"
            android:parentActivityName="com.pracify.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pracify.HomeActivity" />
        </activity>
        <activity
            android:name="com.pracify.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>